<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <title>Organizador de Tarefas</title>
  <link rel="stylesheet" href="../static/css/style.css">
</head>
<body>
    
  <header>
    <h1>Organizador de Tarefas</h1>
    <button class="btn-add" onclick="openModal()">Nova Tarefa</button>
  </header>
    
  <main>
    <div class="grid" id="taskGrid"></div>
  </main>

  <!-- Modal -->
  <div class="modal" id="taskModal">
    <div class="modal-content">
      <h2 id="modalTitle">Nova Tarefa</h2>
      <input type="text" id="taskTitle" placeholder="Título da tarefa">
      <input type="date" id="taskDate">
      <input type="time" id="taskTime">
      <textarea id="taskDesc" rows="3" placeholder="Descrição"></textarea>
      <input type="file" id="taskImg" accept="image/*">
      <!-- Input de cor -->
      <label for="taskColor">Cor do Card:</label>
      <input type="color" id="taskColor" value="#ffffff">
      <div class="modal-actions">
        <button class="btn" onclick="saveTask()">Salvar</button>
        <button class="btn cancel" onclick="closeModal()">Cancelar</button>
      </div>
    </div>
  </div>

  <script src="../static/js/script.js"></script>
</body>
</html>
